<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>แบบประกัน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-margin">

    <ion-row>
      <ion-col class="ion-align-self-center" size="7">
        ชื่อบริษัท
      </ion-col>
      <ion-col>
        {{policy?.CompanyName=='specific' ? policy?.SpecificCampany: policy?.CompanyName}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-align-self-center" size="7">
        ชื่อแบบประกัน
      </ion-col>
      <ion-col>
        {{policy.PolicyName}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-align-self-center" size="7">
        <div>จำนวนปีที่คุ้มครอง</div>
      </ion-col>
      <ion-col class="ion-align-self-center">
        <div>{{policy.YearOfProtect}} ปี</div>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col class="ion-align-self-center" size="7">
        <div>จำนวนปีที่จ่ายเบี้ย</div>
      </ion-col>
      <ion-col class="ion-align-self-center">
        <div>{{policy.YearToPaid}} ปี</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-align-self-center" size="7"> 
        <div>ทุนประกัน</div>
      </ion-col>
      <ion-col class="ion-align-self-center">
        <div style="width: 100%;">{{policy.SumInsured}} บาท</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-align-self-center" size="7">
        <div>เบี้ยประกัน</div>
      </ion-col>
      <ion-col class="ion-align-self-center">
        <div style="width: 100%;">{{policy.InsurancePremium}} บาท</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" class="ion-align-self-center" size="7">
        <div>ลดหย่อนภาษี</div>
      </ion-col>
      <ion-col class="ion-align-self-center">
        <div> {{policy.IsTaxDeduct ? 'ได้ ': 'ไม่ได้'}}</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-align-self-center" size="7">
        <div>ประกันสุขภาพ</div>
      </ion-col>
      <ion-col class="ion-align-self-center">
        <div> {{policy.IsHealth ? 'ได้' : 'ไม่ได้'}}</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-align-self-center" size="7">
        <div>เงินครบกำหนดสัญญา</div>
      </ion-col>
      <ion-col class="ion-align-self-center" >
        <div>{{policy.DueMoney}} ของทุนประกัน</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-align-self-center">
        <div>เงินจ่ายคืนสิ้นปีกรมธรรม์</div>
      </ion-col>
      <ion-col class="ion-align-self-center" size="4">

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-align-self-center">
        <div>ความคุ้มครองเมื่อเสียชีวิต</div>
      </ion-col>
      <ion-col class="ion-align-self-center" size="4">

      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top">
      <ion-col size="2"></ion-col>
      <ion-col>
        <ion-button expand="block" shape="round" (click)="Edit()">แก้ไข</ion-button>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer> </ion-footer>