<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button size="large" (click)="navController.back()">
        <ion-icon slot="icon-only" name="chevron-back-outline" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <h1>{{ 'GENERAL_LOGIN.TITLE' | translate}}</h1>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">{{ 'GENERAL_LOGIN.EMAIL' | translate}}</ion-label>
            <ion-input inputmode="email" [(ngModel)]="user.Email"></ion-input>
          </ion-item>          
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">{{ 'GENERAL_LOGIN.PASSWORD' | translate}}</ion-label>
            <!-- <ion-input [type]="passwordType" [(ngModel)]="user.Password"></ion-input> -->
            <input class="password-input" [type]="passwordType" [(ngModel)]="user.Password">
            <span class="eye-button" (click)="togglePassword()">
              <ion-icon size="small" *ngIf="!showPassword" name="eye"></ion-icon>
              <ion-icon size="small" *ngIf="showPassword" name="eye-off"></ion-icon>
            </span>
          </ion-item>          
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="ion-padding">
      <div>
        <ion-text  color="light" (click)="ForgotPassword()"><u>{{ 'GENERAL_LOGIN.FORGET_PASSWORD' | translate}}</u></ion-text>
      </div>
      <div class="ion-margin-top">
        <ion-button expand="block" shape="round" size="large" (click)="Login()">{{ 'GENERAL_LOGIN.LOGIN' | translate}}</ion-button>
      </div>
    </div>
    <ion-grid class="ion-margin-top">
      <ion-row>
        <ion-col>
          <ion-text color="light">{{ 'GENERAL_LOGIN.NO_ACCOUNT' | translate}} </ion-text><ion-text  color="light" (click)="Register()"><u>{{ 'GENERAL_LOGIN.REGISTER' | translate}}</u></ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
 
</ion-content>

<ion-footer class="ion-padding">

</ion-footer>