.btn-sub{
    background-color: #666666;
}

.input-blog{
    text-align: start;
    display: block;
    padding: 4% 0;
}

.input-fild{
    border-bottom: solid 1px;
}

.input-toggle{
    text-align: start;
}

.num-pad{
    position:fixed;
    width: 100%;
    bottom: 0%;
    height: 200px;
    background: #fff;
    z-index: 1000000;
    font-size: 24px;
}