<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'ADD_POLICY.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-margin">
    <ion-row>
      <ion-col class="ion-align-self-center" size="12">
        <div>
          {{ 'ADD_POLICY.COMPANY_NAME' | translate }}
        </div>
      </ion-col>
      <ion-col size="12">
        <ion-select class="input-fild" [(ngModel)]="policy.CompanyName" okText="{{ 'CODE.OK'  | translate }}"
          cancelText="{{ 'CODE.CANCEL'  | translate }}">
          <ion-select-option *ngFor="let company of companyData" value="{{company}}">{{'COMPANY_DATA.'+company | translate}}
          </ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="policy.CompanyName=='specific'">
      <ion-col class="ion-align-self-center" size="12">
        {{ 'ADD_POLICY.OTHER_COMPANY_NAME' | translate }}
      </ion-col>
      <ion-col size="12">
        <ion-input class="input-fild" [(ngModel)]="policy.SpecificCampany" class="input-fild" type="text"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-align-self-center" size="12">
        {{ 'ADD_POLICY.POLICY_NAME' | translate }}
      </ion-col>
      <ion-col size="12">
        <ion-input class="input-fild" [(ngModel)]="policy.PolicyName" class="input-fild" type="text"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-align-self-center">
        <div>
          {{ 'ADD_POLICY.YEAR_OF_PROTECT' | translate }}
        </div>
      </ion-col>
      <ion-col size="3">
        <ion-input class="input-fild" type="number" [(ngModel)]="policy.YearOfProtect"></ion-input>
      </ion-col>
      <ion-col class="ion-align-self-center" size="2">
        <div>{{ 'CODE.YEAR' | translate }}</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-align-self-center">
        <div>
          {{ 'ADD_POLICY.YEAR_OF_PAID' | translate }}
        </div>
      </ion-col>
      <ion-col size="3">
        <ion-input class="input-fild" type="number" [(ngModel)]="policy.YearToPaid"></ion-input>
      </ion-col>
      <ion-col class="ion-align-self-center" size="2">
        <div>{{ 'CODE.YEAR' | translate }}</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-align-self-center">
        <div>
          {{ 'ADD_POLICY.SUM_INSURED' | translate }}
        </div>
      </ion-col>
      <ion-col size="5">
        <ion-input class="input-fild" type="number" [(ngModel)]="policy.SumInsured"></ion-input>
      </ion-col>
      <ion-col class="ion-align-self-center" size="2">
        <div style="width: 100%;">{{ 'CODE.BATH' | translate }}</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-align-self-center">
        <div>
          {{ 'ADD_POLICY.INSURANCE_PREMIUM' | translate }}
        </div>
      </ion-col>
      <ion-col size="5">
        <ion-input class="input-fild" type="number" [(ngModel)]="policy.InsurancePremium"></ion-input>
      </ion-col>
      <ion-col class="ion-align-self-center" size="2">
        <div style="width: 100%;">{{ 'CODE.BATH' | translate }}</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" class="ion-align-self-center">
        <div>
          {{ 'ADD_POLICY.TAX_DEDUCT' | translate }}
        </div>
      </ion-col>
      <ion-col size="2" class="ion-align-self-center">
        <div>{{ 'CODE.DO_NOT_HAVE' | translate }}</div>
      </ion-col>
      <ion-col size="2" class="input-toggle">
        <ion-toggle mode="ios" [(ngModel)]="policy.IsTaxDeduct"></ion-toggle>
      </ion-col>
      <ion-col size="2" class="ion-align-self-center">
        <div>{{ 'CODE.HAVE' | translate }}</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" class="ion-align-self-center">
        <div>
          {{ 'ADD_POLICY.HEALTH_CARE' | translate }}
        </div>
      </ion-col>
      <ion-col size="2" class="ion-align-self-center">
        <div>{{ 'CODE.DO_NOT_HAVE' | translate }}</div>
      </ion-col>
      <ion-col size="2" class="input-toggle">
        <ion-toggle mode="ios" [(ngModel)]="policy.IsHealth"></ion-toggle>
      </ion-col>
      <ion-col size="2" class="ion-align-self-center">
        <div>{{ 'CODE.HAVE' | translate }}</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" style="display: flex;">
        <span class="ion-align-self-center" style="width: 35%;">
          {{ 'ADD_POLICY.DUE_MONEY' | translate }}
        </span>
        <span style="width: 20%;">
          <ion-input class="input-fild" type="number" [(ngModel)]="policy.DueMoney"></ion-input>
        </span>
        <span class="ion-align-self-center" style="width: 45%;">
          {{ 'ADD_POLICY.SUB_DUE_MONEY' | translate }}
        </span>
      </ion-col>
      <!-- <ion-col class="ion-align-self-center" size="6">
        <div>
         
        </div>
      </ion-col> -->
    </ion-row>

    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-button color="medium" expand="block" shape="round" (click)="ModalOfPolicy('ReturnList',policy.ReturnList)">
          {{ 'ADD_POLICY.LAST_YEAR_INSURANCE_MONEY' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button color="medium" expand="block" shape="round"
          (click)="ModalOfPolicy('ProtectList',policy.ProtectList)">
          {{ 'ADD_POLICY.DEATH_COVERAGE' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="userProfile.Role == 'master'">
      <ion-col>
        <ion-button color="medium" expand="block" shape="round"
          (click)="ModalOfPolicy('ComissionList',policy.ComissionList)">
          {{ 'ADD_POLICY.COMMISSION' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top">
      <ion-col size="2"></ion-col>
      <ion-col>
        <ion-button expand="block" shape="round" (click)="Save()">
          {{ 'CODE.CONFIRM' | translate }}
        </ion-button>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer> </ion-footer>