.btn-sub{
    background-color: #666666;
}

.input-blog{
    text-align: start;
    display: block;
    padding: 4% 0;
}

.input-fild{
    border-bottom: solid 1px;
}

.input-toggle{
    text-align: start;
}
