<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>ข้อมูลส่วนตัว</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/edit-personal-information-general-user']">
        <ion-icon slot="icon-only" name="build"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only"  name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-margin-top ion-padding">

    <ion-row class="ion-justify-content-between">
      <ion-col>
        <div>
        เลขบัตรประชาชน
        </div>
      </ion-col>
      <ion-col class="ion-text-center">
        <div>
        1234567890123
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-between">
      <ion-col>
        <div>
        คำนำหน้าชื่อ
        </div>
      </ion-col>
      <ion-col class="ion-text-center">
        <div>
        นาย
        </div>
      </ion-col>
    </ion-row>


    <ion-row class="ion-justify-content-between">
      <ion-col>
        <div>
          ชื่อ - นามสกุล
        </div>
      </ion-col>
      <ion-col class="ion-text-center">
        <div>
        ประกัน  มั่นคง
        </div>
      </ion-col>
    </ion-row>


    <ion-row class="ion-justify-content-between">
      <ion-col>
        <div>
        วัน/เดือน/ปี เกิด
        </div>
      </ion-col>
      <ion-col class="ion-text-center">
        <div>
         3 มีนาคม 2541
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-between">
      <ion-col>
        <div>
          เบอร์โทรศัพท์
        </div>
      </ion-col>
      <ion-col class="ion-text-center">
        <div>
         0912345678
        </div>
      </ion-col>
    </ion-row>

    
    <ion-row class="ion-justify-content-between">
      <ion-col>
        <div>
         อีเมล์
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-center">
         test@email.com
        </div>
      </ion-col>
    </ion-row>

    
    <ion-row class="ion-justify-content-between">
      <ion-col>
        <div>
          PIN 
        </div>
      </ion-col>
      <ion-col class="ion-text-center">
        <div>
         15155
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
