<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button mode="ios" text="" size="large"> </ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'PERSONAL_INFORMATION.TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/edit-personal-information-general-user']">
        <ion-icon slot="icon-only" name="build"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="user.IdCard">
    <ion-grid class="ion-margin-top ion-padding">
      <ion-row class="ion-justify-content-between">
        <ion-col>
          <div>
            {{ 'PERSONAL_INFORMATION.ID_CARD' | translate }}
          </div>
        </ion-col>
        <ion-col class="ion-text-start">
          <div>
            {{user.IdCard}}
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-between">
        <ion-col>
          <div>
            {{ 'PERSONAL_INFORMATION.PREFIX_NAME' | translate }}
          </div>
        </ion-col>
        <ion-col class="ion-text-start">
          <div>
            {{user.PrefixName=='specific'? user.SpecificPrefixName : user.PrefixName}}
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-between">
        <ion-col>
          <div>
            {{ 'PERSONAL_INFORMATION.FULL_NAME' | translate }}
          </div>
        </ion-col>
        <ion-col class="ion-text-start">
          <div>
            {{user.FirstName}} {{user.LastName}}
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-between">
        <ion-col size="6">
          <div>
            {{ 'PERSONAL_INFORMATION.BIRTH_DATE' | translate }}
          </div>
        </ion-col>
        <ion-col class="ion-text-start" size="6">
          <div>
            {{user.BirthDay | thaiDate}}
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-between">
        <ion-col>
          <div>
            {{ 'PERSONAL_INFORMATION.PHONE_NUMBER' | translate }}
          </div>
        </ion-col>
        <ion-col class="ion-text-start">
          <div>
            {{user.Telephone}}
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-between">
        <ion-col>
          <div>
            {{ 'PERSONAL_INFORMATION.EMAIL' | translate }}
          </div>
        </ion-col>
        <ion-col>
          <div class="ion-text-start">
            {{user.Email}}
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-between">
        <ion-col>
          <div>
            {{ 'PERSONAL_INFORMATION.PIN' | translate }}
          </div>
        </ion-col>
        <ion-col class="ion-text-start">
          <div>
            {{user.Pin}}
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-between">
        <ion-col>
          <div>
            {{ 'PERSONAL_INFORMATION.PASSWORD' | translate }}
          </div>
        </ion-col>
        <ion-col class="ion-text-start">
          <div>
            <button class="btn-info" (click)="changePassword()">
              <span>
                <ion-icon name="key-outline"></ion-icon>
              </span>
              <span>
                {{ 'PERSONAL_INFORMATION.CHANGE_PASSWORD' | translate }}
              </span>
            </button>
          </div>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>

  <!-- ------------------ Start Skeleton Section ------------------  -->
  <div *ngIf="!user.IdCard">
    <ion-grid class="ion-margin-top ion-padding">
      <ion-row class="ion-justify-content-between">
        <ion-col>
          <div>
            {{ 'PERSONAL_INFORMATION.ID_CARD' | translate }}
          </div>
        </ion-col>
        <ion-col class="ion-text-start">
          <div>
            <ion-skeleton-text animated style="width: 70%;"></ion-skeleton-text>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-between">
        <ion-col>
          {{ 'PERSONAL_INFORMATION.PREFIX_NAME' | translate }}
        </ion-col>
        <ion-col class="ion-text-start">
          <ion-skeleton-text animated style="width: 40%;"></ion-skeleton-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-between">
        <ion-col>
          {{ 'PERSONAL_INFORMATION.FULL_NAME' | translate }}
        </ion-col>
        <ion-col class="ion-text-start">
          <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-between">
        <ion-col>
          {{ 'PERSONAL_INFORMATION.BIRTH_DATE' | translate }}
        </ion-col>
        <ion-col class="ion-text-start">
          <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-between">
        <ion-col>
          {{ 'PERSONAL_INFORMATION.PHONE_NUMBER' | translate }}
        </ion-col>
        <ion-col class="ion-text-start">
          <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-between">
        <ion-col>
          {{ 'PERSONAL_INFORMATION.EMAIL' | translate }}
        </ion-col>
        <ion-col class="ion-text-start">
          <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-between">
        <ion-col>
          {{ 'PERSONAL_INFORMATION.PIN' | translate }}
        </ion-col>
        <ion-col class="ion-text-start">
          <ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-between">
        <ion-col>
          <div>
            {{ 'PERSONAL_INFORMATION.PASSWORD' | translate }}
          </div>
        </ion-col>
        <ion-col class="ion-text-start">
          <div>
            <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
          </div>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
  <!-- ------------------ End  Skeleton Section ------------------  -->
</ion-content>