<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button size="large" (click)="back()">
        <ion-icon
          slot="icon-only"
          name="chevron-back-outline"
          color="light"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'CHANGE_PASSWORD.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-margin-top ion-padding">
    <ion-row class="ion-justify-content-between">
      <ion-col class="ion-align-self-center">
        <div>
          {{ 'EDIT_PERSONAL_INFORMATION.PASSWORD' | translate }}
        </div>
      </ion-col>
      <ion-col class="ion-text-start">
        <div>
          <ion-item>
            <ion-input></ion-input>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-between">
      <ion-col class="ion-align-self-center">
        <div>
          {{ 'EDIT_PERSONAL_INFORMATION.RE_PASSWORD' | translate }}
        </div>
      </ion-col>
      <ion-col class="ion-text-start">
        <div>
          <ion-item>
            <ion-input></ion-input>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top">
      <ion-col size="1"></ion-col>
      <ion-col>
        <ion-button expand="block" shape="round">
          {{ 'CODE.CONFIRM' | translate }}
        </ion-button>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
