ion-content {
    --background: url('/assets/background.jpg') no-repeat center center / cover;
}
ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
    --border-color: transparent;
}
.footer-md::before,
.header-md::after {
    display: none;
}
ion-footer {
    --background: transparent;
}
#container {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
h1, p {
    color: #ffffff;
}


ion-item {
    --background: transparent !important;
    --color: #ffffff;
    --border-color: rgba(255,255,255,0.4);;
    --highlight-background: #ffffff;
    .label-floating.sc-ion-label-md-h {
        color: rgba(255,255,255,0.4);
    }
    &.item-has-focus .label-floating.sc-ion-label-md-h {
        color: #ffffff;
    }
    &.item-has-value .label-floating.sc-ion-label-md-h {
        color: #ffffff;
    }
}



.eye-button {
    position: absolute;
    top: 20px;
    right: 28px;
    font-size: 31px;
    z-index: 100;
    color: #bbbbbb;
  }

