<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'POLICY_SEARCH.TITLE'  | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-margin-top ion-padding">
    <ion-row class="ion-justify-content-between ion-margin-bottom">
      <ion-col>
        <div style="text-decoration: underline;" class="ion-text-end">
          {{ 'POLICY_SEARCH.SUB_TITLE'  | translate }}
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-between ion-align-items-center">
      <ion-col size="10" style="display: flex;">
        <div style="width: 80%;" class="ion-align-self-center">
         {{ 'POLICY_SEARCH.TEXT_IRR'  | translate }}
        </div>
        <div style="width: 20%;">
          <ion-input class="input-fild" type="number" [(ngModel)]="SearchModel.irr"></ion-input>
        </div>
      </ion-col>
      <ion-col size="2" class="ion-align-self-center">
        <div>
          %
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-between ion-align-items-center">
      <ion-col size="10" style="display: flex;">
        <div style="width: 80%;" class="ion-align-self-center">
          {{ 'POLICY_SEARCH.TEXT_PROTECT_RATE'  | translate }}
        </div>
        <div style="width: 20%;">
          <ion-input class="input-fild" type="number" [(ngModel)]="SearchModel.protect"></ion-input>
        </div>
      </ion-col>
      <ion-col size="2" class="ion-align-self-center">
        <div>
          %
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-between ion-align-items-center">
      <ion-col size="10" style="display: flex;">
        <div style="width: 80%;" class="ion-align-self-center">
          {{ 'POLICY_SEARCH.TEXT_WORTH_RATE'  | translate }}
        </div>
        <div style="width: 20%;">
          <ion-input class="input-fild" type="number" [(ngModel)]="SearchModel.worth"></ion-input>
        </div>
      </ion-col>
      <ion-col size="2" class="ion-align-self-center">
        <div>
          %
        </div>
      </ion-col>
    </ion-row>

    <!-- <ion-row class="ion-justify-content-between ion-align-items-center">
      <ion-col size="10" style="display: flex;">
        <div style="width: 80%;" class="ion-align-self-center">
          {{ 'POLICY_SEARCH.TEXT_YEAR_PROTECTION'  | translate }}
        </div>
        <div style="width: 20%;">
          <ion-input class="input-fild" type="number"></ion-input>
        </div>
      </ion-col>
      <ion-col size="2" class="ion-align-self-center">
        <div>%</div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-between ion-align-items-center">
      <ion-col size="10" style="display: flex;">
        <div style="width: 80%;" class="ion-align-self-center">
          {{ 'POLICY_SEARCH.TEXT_YEAR_PAID'  | translate }}
        </div>
        <div style="width: 20%;">
          <ion-input class="input-fild" type="number"></ion-input>
        </div>
      </ion-col>
      <ion-col size="2" class="ion-align-self-center">
        <div>
          %
        </div>
      </ion-col>
    </ion-row> -->

    <ion-row class="ion-justify-content-between ion-margin-bottom">
      <ion-col class="ion-align-self-center">
        <div>
          <span style="text-decoration: underline;"
            >
            {{ 'POLICY_SEARCH.TEXT_DETAIL_1'  | translate }}
          </span>
          <span class="ion-padding" style="padding: 0;">
            <ion-checkbox
              mode="ios"
              checked="true"
              color="primary"
            ></ion-checkbox>
          </span>
          <span style="text-decoration: underline;">  {{ 'POLICY_SEARCH.TEXT_DETAIL_2'  | translate }} </span>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-between ion-align-items-center">
      <ion-col size="4">
        <div class="ion-align-self-center">
          <!-- ลดหย่อนภาษี -->
          {{ 'POLICY_SEARCH.TAX'  | translate }}
        </div>
      </ion-col>
      <ion-col size="4">
        <div style="display: flex;">
          <div style="width: 30%;">
            <!-- <ion-checkbox mode="ios" color="primary" [(ngModel)]="SearchModel.isTaxDeductFalse"></ion-checkbox> -->
            <ion-checkbox mode="ios" color="primary" [(ngModel)]="SearchModel.isTaxDeductFalse" [disabled]="!option_1_1" (click)="option_1_Click('not','1')"></ion-checkbox>
          </div>
          <div style="width: 70%;" class="ion-align-self-center" [ngClass]="{'disable-text':!option_1_1}">
            {{ 'CODE.DO_NOT_HAVE'  | translate }}
          </div>
        </div>
      </ion-col>
      <ion-col size="4">
        <div style="display: flex;">
          <div style="width: 30%;">
            <!-- <ion-checkbox mode="ios" color="primary" [(ngModel)]="SearchModel.isTaxDeductTrue"></ion-checkbox> -->
            <ion-checkbox mode="ios" color="primary" [(ngModel)]="SearchModel.isTaxDeductTrue" [disabled]="!option_1_2" (click)="option_1_Click('have','1')"></ion-checkbox>
          </div>
          <div style="width: 70%;" class="ion-align-self-center" [ngClass]="{'disable-text':!option_1_2}">
            {{ 'CODE.HAVE'  | translate }}
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-between ion-align-items-center">
      <ion-col size="4">
        <div class="ion-align-self-center">
          <!-- ประกันสุขภาพ -->
          {{ 'POLICY_SEARCH.HEALTH'  | translate }}
        </div>
      </ion-col>
      <ion-col size="4">
        <div style="display: flex;">
          <div style="width: 30%;">
            <!-- <ion-checkbox mode="ios" color="primary" [(ngModel)]="SearchModel.isHealthFalse"></ion-checkbox> -->
            <ion-checkbox mode="ios" color="primary"  [(ngModel)]="SearchModel.isHealthFalse" [disabled]="!option_2_1" (click)="option_1_Click('not','2')"></ion-checkbox>
          </div>
          <div style="width: 70%;" class="ion-align-self-center" [ngClass]="{'disable-text':!option_2_1}">
            {{ 'CODE.DO_NOT_HAVE'  | translate }}
          </div>
        </div>
      </ion-col>
      <ion-col size="4">
        <div style="display: flex;">
          <div style="width: 30%;">
            <!-- <ion-checkbox mode="ios" color="primary" [(ngModel)]="SearchModel.isHealthTrue"></ion-checkbox> -->
            <ion-checkbox mode="ios" color="primary" [(ngModel)]="SearchModel.isHealthTrue" [disabled]="!option_2_2" (click)="option_1_Click('have','2')"></ion-checkbox>
          </div>
          <div style="width: 70%;" class="ion-align-self-center" [ngClass]="{'disable-text':!option_2_2}">
            {{ 'CODE.HAVE'  | translate }}
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top">
      <ion-col size="2"></ion-col>
      <ion-col>
        <ion-button expand="block" shape="round" (click)="searchPolicy()"
          >
          {{ 'CODE.CONFIRM'  | translate }}
          </ion-button
        >
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer> </ion-footer>
