<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 class="ion-text-center">{{ 'CONFIRM_GENERAL.TITLE'  | translate }}</h1>
  <ion-grid>
    <ion-row  style="padding: 17px 1px;">
      <ion-col size="6">
        <ion-text>{{ 'CONFIRM_GENERAL.ID_CARD'  | translate }}</ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-text>{{user.IdCard}}</ion-text>
      </ion-col>
      <!-- <ion-col size="6">
        <ion-text>{{ 'CONFIRM_GENERAL.PREFIX_NAME'  | translate }}</ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-text>{{user.PrefixName=='REGISTER_GENERAL.Other'? user?.SpecificPrefixName: (user?.PrefixName|translate)}}
        </ion-text>
      </ion-col> -->
      <ion-col size="6">
        <ion-text>{{ 'CONFIRM_GENERAL.FULL_NAME_INFO'  | translate }}</ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-text> {{user.PrefixName=='REGISTER_GENERAL.Other'? user?.SpecificPrefixName: (user?.PrefixName|translate)}}  {{user.FirstName}} {{user.LastName}}</ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-text>{{ 'CONFIRM_GENERAL.BIRTH_DATE'  | translate }}</ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-text>{{user.BirthDay  | thaiDate}}</ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-text>{{ 'CONFIRM_GENERAL.PHONE_NUMBER'  | translate }}</ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-text>{{user.Telephone}}</ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-text>{{ 'CONFIRM_GENERAL.EMAIL'  | translate }}</ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-text>{{user.Email}}</ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-text>{{ 'CONFIRM_GENERAL.PASSWORD'  | translate }}</ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-text>{{user.Password}}</ion-text>
      </ion-col>
      <!-- ---------------------Pin checker--------------------- -->

        <ion-col *ngIf="user.Role !='quest'" size="6">
          <ion-text>PIN</ion-text>
        </ion-col>
        <ion-col *ngIf="user.Role !='quest'" size="6">
          <ion-text>{{user.Pin}}</ion-text>
        </ion-col>

     
      <ion-col size="12" class="ion-text-center">
        <!-- <ion-text><u>{{ 'CONFIRM_GENERAL.CONFIRM_TEXT'  | translate }}</u></ion-text> -->
      </ion-col>
      <ion-col size="12" class="ion-padding">
        <ion-button expand="block" shape="round" color="light" (click)="Confirm()">{{ 'CODE.OK'  | translate }}
        </ion-button>
        <div class="ion-margin-top"></div>
        <ion-button expand="block" shape="round" (click)="navController.back()">{{ 'CODE.CANCEL'  | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>