<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 class="ion-text-center">ข้อมูล</h1>
  <ion-grid>
    <ion-row class="ion-padding">
      <ion-col size="6">
        <ion-text>เลขบัตรประชาชน</ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-text>{{user.IdCard}}</ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-text>คำนำหน้า</ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-text>{{user.PrefixName}}</ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-text>ชื่อ-นามสกุล</ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-text>{{user.Name}}</ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-text>วัน/เดือน/ปีเกิด</ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-text>{{user.BirthDay}}</ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-text>เบอร์โทรศัพท์</ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-text>{{user.Telephone}}</ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-text>อีเมล</ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-text>{{user.Email}}</ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-text>รหัสผ่าน</ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-text>{{user.Password}}</ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-text>PIN</ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-text>{{user.Pin}}</ion-text>
      </ion-col>
      <ion-col size="12" class="ion-padding">

      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-text><u>ต้องการยืนยันข้อมูลใช่หรือไม่</u></ion-text>
      </ion-col>
      <ion-col size="12" class="ion-padding">
        <ion-button expand="block" shape="round" color="light" (click)="Confirm()">ใช่</ion-button>
        <div class="ion-margin-top"></div>
        <ion-button expand="block" shape="round" (click)="navController.back()">ไม่ใช่</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>