<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button size="large" (click)="navController.back()">
        <ion-icon
          slot="icon-only"
          name="chevron-back-outline"
          color="light"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">

   <ion-grid>
      <ion-row>
        <ion-col size="12">
          <h1 style="font-size:32px" class="ion-text-center">{{ 'REGISTER_CHOICE.TITLE' | translate}}</h1>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin-top">

        <ion-col size="12">
          <ion-button
            style="font-size: 19px;"
            expand="block"
            shape="round"
            size="medium"
            color="light"
            [routerLink]="['/register-leader-member-user']"
          >
            <span>
              {{ 'REGISTER_CHOICE.SUPERVISOR' | translate}}
            </span>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col size="12">
          <ion-button
            style="font-size: 19px;"
            expand="block"
            shape="round"
            size="medium"
            [routerLink]="['/register-agent-member-user']"
          >
            <span>
              {{ 'REGISTER_CHOICE.EMPLOYEE' | translate}}
            </span>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid> 
  </div>
</ion-content>
