ion-content {
  --background: url("/assets/background.jpg") no-repeat center center / cover;
}
ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
  --border-color: transparent;
}
.footer-md::before,
.header-md::after {
  display: none;
}
ion-footer {
  --background: transparent;
}
#container {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
h1,
p {
  color: #ffffff;
}

ion-item {
  --background: transparent !important;
  --border-color: transparent;
  --highlight-background: transparent;
  .label-stacked.sc-ion-label-md-h {
    color: #ffffff;
  }
  &.item-has-focus .label-stacked.sc-ion-label-md-h {
    color: #ffffff;
  }
  &.item-has-value .label-stacked.sc-ion-label-md-h {
    color: #ffffff;
  }
  ion-select,
  ion-datetime,
  ion-input {
    background-color: #ffffff;
    --background: #fff;
    margin-top: 12px;
    --padding-start: 8px;
    --padding-end: 8px;
  }
}

.box-pin {
  background-color: #ffffff;
  padding: 8px 15px;
  display: inline-block;
  margin: auto;
  font-weight: bold;
}

.eye-button {
  position: absolute;
  top: 31px;
  right: 28px;
  font-size: 31px;
  z-index: 100;
  color: #5f5f5f;
}
