.tabel-border{
    border:solid 1px;
    border-color: #686868;
}

.title-bord-text{
    font-weight: bold;
}

.shadow-box{
    border-radius: 20px;
    background: #dedede;
    padding: 4px;
}

.item-border{
    margin-bottom: 11px;
    border: solid 1px;
    padding: 9px 11px;
    border-radius: 49px;
    color: #313030;
    box-shadow: 2px 3px #bdbbbb;
}