<ion-content>
  <div class="center">
    <div style="font-weight: bold;font-size: 25px; margin-bottom: 100px; text-align: center;">{{ 'HOME.TITLE'  | translate }}</div>
    <ion-img src="../assets/images/password.png" class="img"></ion-img>
    <div class="text">Waiting for verify</div>
  </div>
 
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button fill="clear" shape="round" (click)="Logout()">
          <span style="font-weight: bold;font-size: 18px;"> {{ 'POLICY_LIST_PAGE.LOGOUT'  | translate }}</span>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>