<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>ข้อมูลส่วนตัว</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/edit-agent-information']">
        <ion-icon slot="icon-only" name="build"></ion-icon>
      </ion-button>
      <ion-button (click)="removeUserPin()">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="user.IdCard">
    <ion-grid class="ion-margin-top ion-padding">
      <ion-row class="ion-justify-content-between">
        <ion-col>
          <div>
            เลขบัตรประชาชน
          </div>
        </ion-col>
        <ion-col class="ion-text-start">
          <div>
            {{user.IdCard}}
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-between">
        <ion-col>
          <div>
            คำนำหน้าชื่อ
          </div>
        </ion-col>
        <ion-col class="ion-text-start">
          <div>
            {{user.PrefixName}}
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-between">
        <ion-col>
          <div>
            ชื่อ - นามสกุล
          </div>
        </ion-col>
        <ion-col class="ion-text-start">
          <div>
            {{user.Name}}
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-between">
        <ion-col size="6">
          <div>
            วัน/เดือน/ปี เกิด
          </div>
        </ion-col>
        <ion-col class="ion-text-start" size="6">
          <div>
            {{user.BirthDay | thaiDate}}
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-between">
        <ion-col>
          <div>
            เบอร์โทรศัพท์
          </div>
        </ion-col>
        <ion-col class="ion-text-start">
          <div>
            {{user.Telephone}}
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-between">
        <ion-col>
          <div>
            อีเมล์
          </div>
        </ion-col>
        <ion-col>
          <div class="ion-text-start">
            {{user.Email}}
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-between">
        <ion-col>
          <div>
            PIN
          </div>
        </ion-col>
        <ion-col class="ion-text-start">
          <div>
            {{user.Pin}}
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- ------------------ Start Skeleton Section ------------------  -->
  <div *ngIf="!user.IdCard">
    <ion-grid class="ion-margin-top ion-padding">
      <ion-row class="ion-justify-content-between">
        <ion-col>
          <div>
            เลขบัตรประชาชน
          </div>
        </ion-col>
        <ion-col class="ion-text-start">
          <div>
            <ion-skeleton-text animated style="width: 70%;"></ion-skeleton-text>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-between">
        <ion-col>
          คำนำหน้าชื่อ
        </ion-col>
        <ion-col class="ion-text-start">
          <ion-skeleton-text animated style="width: 40%;"></ion-skeleton-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-between">
        <ion-col>
          ชื่อ - นามสกุล
        </ion-col>
        <ion-col class="ion-text-start">
          <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-between">
        <ion-col>
          วัน/เดือน/ปี เกิด
        </ion-col>
        <ion-col class="ion-text-start">
          <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-between">
        <ion-col>
          เบอร์โทรศัพท์
        </ion-col>
        <ion-col class="ion-text-start">
          <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-between">
        <ion-col>
          อีเมล์
        </ion-col>
        <ion-col class="ion-text-start">
          <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-between">
        <ion-col>
          PIN
        </ion-col>
        <ion-col class="ion-text-start">
          <ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!-- ------------------ End  Skeleton Section ------------------  -->

</ion-content>
