<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'ADD_POLICY.CALCULATE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-margin">

    <ion-row class="">
      <ion-col class="ion-align-self-center" size="12">
        <div style="font-weight: bold;">  
          <span class="dot"></span>
          {{ 'POLICY_DETAIL.COMPANY_NAME' | translate }} 
        </div>
      
      </ion-col>
      <ion-col size="1"> </ion-col>
      <ion-col size="11">
        {{policy?.CompanyName=='specific' ? policy?.SpecificCampany:
        'COMPANY_DATA.'+policy?.CompanyName | translate}}
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top">
      <ion-col class="ion-align-self-center" size="12">
        <div style="font-weight: bold;">
          <span class="dot"></span>
          {{ 'POLICY_DETAIL.POLICY_NAME' | translate }}
        </div>
      </ion-col>
      <ion-col size="1"> </ion-col>
      <ion-col size="11">
        {{policy.PolicyName}}
      </ion-col>
    </ion-row>
    <br>
    <ion-row >
      <ion-col class="ion-align-self-center" size="12">
        <div style="font-weight: bold;">
          <span class="dot"></span>
           {{ 'ADD_POLICY.SUM_INSURED' | translate }}
        </div>
      </ion-col>
      <ion-col size="9">
        <input 
        class="money-input" 
        type="tel"
        mask="comma_separator"
        [(ngModel)]="sumInsured"
        >
       
      </ion-col>
      <ion-col class="ion-align-self-center" size="3">
        <div style="width: 100%;">{{ 'CODE.BATH' | translate }}</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-align-self-center" size="12">
        <div style="font-weight: bold;">
          <span class="dot"></span>
          {{ 'ADD_POLICY.INSURANCE_PREMIUM' | translate }}
        </div>
      </ion-col>
      <ion-col size="9">
        <input 
        class="money-input" 
        type="tel"
        mask="comma_separator"
        [(ngModel)]="insurancePremium"
        >
      </ion-col>
      <ion-col class="ion-align-self-center" size="3">
        <div style="width: 100%;">{{ 'CODE.BATH' | translate }}</div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top">
      <ion-col size="2"></ion-col>
      <ion-col>
        <ion-button expand="block" shape="round" (click)="Save()">
          {{ 'CODE.CONFIRM' | translate }}
        </ion-button>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

<ion-footer> </ion-footer>