<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: start;padding: 0 22px;">{{ 'POLICY_LIST_PAGE.TITLE'  | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="userProfile.Role === 'master'" [routerLink]="['/user-agent-list']">
        <ion-icon slot="icon-only" name="people-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/personal-information-general-user']">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/policy-search']">
        <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar mode="ios" placeholder="{{ 'POLICY_LIST_PAGE.SEARCH'  | translate }}" (ionChange)="Searchbar($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="activeStatus">
    <ion-list>
      <ion-item *ngFor="let policy of policyList;index as i; " (click)="PolicyDetail(policy)" >
        <ion-label>
          {{i+1}}. {{policy?.CompanyName=='specific' ? (policy?.SpecificCampany | translate ): ('COMPANY_DATA.'+policy?.CompanyName | translate)}}
          {{policy?.PolicyName}}
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="!activeStatus">
    <ion-list>
      <ion-item *ngFor="let skeleton of skeletonArray " detail="true" button="true">
        <ion-label>
          <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button fill="clear" shape="round" (click)="Logout()">
          <span style="font-weight: bold;font-size: 18px;"> {{ 'POLICY_LIST_PAGE.LOGOUT'  | translate }}</span>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>

<ion-fab *ngIf="userProfile.Role != 'user'" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="Add()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>