<ion-header>
  <ion-toolbar>
    <ion-title>รายการแบบประกัน</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/personal-information-general-user']">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar mode="ios" placeholder="ค้นหา" (ionChange)='Searchbar($event)'></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let policy of policyList;index as i; " detail="true" button="true">
      <ion-label>
        {{i+1}}. {{policy.CompanyName}} {{policy.PolicyName}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button fill="clear" shape="round" (click)="Logout()">ออกจากระบบ</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button [routerLink]="['/add-policy-general-user']">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>