ion-content {
    --background: url('/assets/background.jpg') no-repeat center center / cover;
}
ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
    --border-color: transparent;
}
.footer-md::before,
.header-md::after {
    display: none;
}
ion-footer {
    --background: transparent;
}
#container {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
h1, p, ion-text {
    color: #ffffff;
}