<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button size="large" (click)="navController.back()">
        <ion-icon
          slot="icon-only"
          name="chevron-back-outline"
          color="light"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 class="ion-text-center">{{ 'REGISTER_GENERAL.TITLE' | translate }}</h1>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label color="light" position="stacked"
            >{{ 'REGISTER_GENERAL.ID_CARD' | translate }}</ion-label
          >
          <ion-input inputmode="numeric" 
            maxlength="13"
          [(ngModel)]="user.IdCard"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label color="light" position="stacked"
            >{{ 'REGISTER_GENERAL.PREFIX_NAME' | translate }}</ion-label
          >
          <ion-select [(ngModel)]="user.PrefixName">
            <ion-select-option value="CODE.MR"
              >{{ 'CODE.MR' | translate }}
            </ion-select-option>
            <ion-select-option value="CODE.MS"
              >{{ 'CODE.MS' | translate }}
            </ion-select-option>
            <ion-select-option
              value="CODE.MISS"
            >
              {{ 'CODE.MISS' | translate }}</ion-select-option
            >
            <ion-select-option value="REGISTER_GENERAL.Other"
              >{{ 'REGISTER_GENERAL.Other' | translate }}</ion-select-option
            >
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="12" *ngIf="user.PrefixName=='REGISTER_GENERAL.Other'">
        <ion-item>
          <ion-label color="light" position="stacked"
            >{{ 'REGISTER_GENERAL.Other' | translate }}</ion-label
          >
          <ion-input [(ngModel)]="user.SpecificPrefixName"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label color="light" position="stacked"
            >{{ 'REGISTER_GENERAL.FIRST_NAME' | translate }}</ion-label
          >
          <ion-input [(ngModel)]="user.FirstName"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label color="light" position="stacked"
            >{{ 'REGISTER_GENERAL.LAST_NAME' | translate }}</ion-label
          >
          <ion-input [(ngModel)]="user.LastName"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label color="light" position="stacked"
            >{{ 'REGISTER_GENERAL.BIRTH_DATE' | translate }}</ion-label
          >
          <ion-datetime
            [(ngModel)]="user.BirthDay"
            [monthNames]="monthThaiName"
            displayFormat="DD/MMMM/YYYY"
          ></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label color="light" position="stacked"
            >{{ 'REGISTER_GENERAL.PHONE_NUMBER' | translate }}</ion-label
          >
          <ion-input 
          type="tel"
            maxlength="10"
             [(ngModel)]="user.Telephone"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label color="light" position="stacked"
            >{{ 'REGISTER_GENERAL.EMAIL' | translate }}</ion-label
          >
          <ion-input inputmode="email" [(ngModel)]="user.Email"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label color="light" position="stacked"
            >{{ 'REGISTER_GENERAL.PASSWORD' | translate }}</ion-label
          >
          <ion-input
            [type]="passwordType"
            [(ngModel)]="user.Password"
            maxlength="6"
            inputmode="numeric"
          ></ion-input>
          <span class="eye-button" (click)="togglePassword()">
            <ion-icon class="ion-align-items-center" size="small" *ngIf="!showPassword" name="eye"></ion-icon>
            <ion-icon class="ion-align-items-center"
              size="small"
              *ngIf="showPassword"
              name="eye-off"
            ></ion-icon>
          </span>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label color="light" position="stacked"
            >{{ 'REGISTER_GENERAL.RE_PASSWORD' | translate }}</ion-label
          >
          <ion-input
            [type]="confirmPasswordType"
            [(ngModel)]="user.ConfirmPassword"
            maxlength="6"
            inputmode="numeric"
          ></ion-input>
          <span class="eye-button" (click)="toggleConfirmPassword()">
            <ion-icon
            class="ion-align-items-center"
              size="small"
              *ngIf="!showConfirmPassword"
              name="eye"
            ></ion-icon>
            <ion-icon
            class="ion-align-items-center"
              size="small"
              *ngIf="showConfirmPassword"
              name="eye-off"
            ></ion-icon>
          </span>
        </ion-item>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-button
          shape="round"
          size="small"
          color="secondary"
          (click)="PinGenerate()"
        >
          {{ 'REGISTER_GENERAL.GENERATE_PIN' | translate }}</ion-button
        >
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <div class="box-pin">{{user.Pin}}</div>
      </ion-col>
      <ion-col size="12" class="ion-padding">
        <ion-button
          expand="block"
          shape="round"
          size="large"
          (click)="Register()"
          >{{ 'CODE.CONFIRM' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
