<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button size="large" (click)="back()">
        <ion-icon
          slot="icon-only"
          name="chevron-back-outline"
          color="light"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ Title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <ion-grid class="ion-margin-top" style="padding: 0 28px;">
    <ion-row
      *ngFor="let item of lengthYearAmountList ; let i = index;"
      class="card-year-to"
    >
      <ion-col size="12">
        <div style="display: flex;">
          <div style="width: 25%;text-align: center;" class="ion-align-self-center">
            {{ item.IsRange?('POLICY_REPAY.YEAR_AT' |
            translate):('POLICY_REPAY.YEAR' | translate) }}
          </div>
          <div style="width: 20%; margin: 0 10px;">
            <ion-input
              class="input-fild"
              type="number"
              (input)='yearInputValidate($event.target.value,i,true)'
              [(ngModel)]="lengthYearAmountList[i].Start"
            ></ion-input>
          </div>
          <div
            style="width: 25%;text-align: center;"
            class="ion-align-self-center"
            *ngIf="item.IsRange"
          >
            {{ 'POLICY_REPAY.TO' | translate }}
          </div>
          <div style="width: 20%;" *ngIf="item.IsRange">
            <ion-input
              class="input-fild"
              type="number"
              (input)='yearInputValidate($event.target.value,i,false)'
              [(ngModel)]="lengthYearAmountList[i].End"
            ></ion-input>
          </div>
        </div>

        <div style="display: flex;" class="dashed-border-top">
          <div style="width: 25%;"></div>
          <div style="width: 25%;">
            <ion-input
              class="input-fild"
              type="number"
              [(ngModel)]="lengthYearAmountList[i].Amount"
            ></ion-input>
          </div>
          <div
            style="width: 50%;"
            class="ion-align-self-center ion-justify-content-end"
          >
            {{ 'POLICY_REPAY.SUB_TEAR_AT' | translate }}
          </div>
        </div>
        
        <div class="delete-button">
          <ion-icon size="1" name="close-circle" (click)="delete(i)">
          </ion-icon>
        </div>
      
      </ion-col>
    </ion-row>
  </ion-grid>

  <div>
    <br><br><br>
    <br><br><br>
  </div>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row class="ion-justify-content-between">
      <ion-col size="6">
        <ion-button expand="block" shape="round" (click)="addSingle()"
          >{{ 'POLICY_REPAY.ONE_YEAR_ADD' | translate }}
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" shape="round" (click)="addRange()"
          >{{ 'POLICY_REPAY.RANGE_YEAR_ADD' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-around ">
      <ion-col size="6">
        <ion-button expand="block" shape="round" (click)="submit()"
          >{{ 'CODE.CONFIRM' | translate }}</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
