.input-fild{
    border-bottom: solid 1px;
}


.card-year-to{
    border: solid 1px;
    padding: 4px 0px 4px 12px;
    border-radius: 24px;
    margin-bottom: 15px;
}

.dashed-border-top{
    margin-top: 13px;
    border-top: dashed 1px;
    border-color: #8b8b8b;
}